body {
    background-color: black;
}

#puzzlearea {
    display: grid;
    place-items: center;
}

#puzzlecontainer {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    width: 400;
    height: 400;
}

#solved {
    color:aquamarine;
}